/* NEXT DAYS*/
div.row.weather-forecast {
  margin-top: 15px;
  margin-bottom: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #352fac;
  border-radius: 6px;
  padding: 15px 5px;
  background-color: #352fac;
  color: white;
  max-width: 370px;
  height: 150px;
}

.weather-forecast h3 {
  font-size: 14px;
  height: 15px;
  line-height: 15px;
  padding-bottom: 32px;
  margin-right: -18px;
  margin-left: -18px;
  margin-bottom: 0;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 40px;
}

.col.next-day {
  padding: 0 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.col.temp {
  text-align: center;
  padding: 15px 0 0 0;
  font-size: 13px;
  line-height: 1.6em;
}

.high {
  font-weight: 600;
}
.low {
  opacity: 0.8;
}
