/*MAIN*/

.header {
  margin: 10px auto 10px auto;
}
.today-data {
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  margin: 10px auto 55px auto;
}

div h1 {
  padding: 0px 5px 5px 5px;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.829);
  margin: 10px auto;
}

.city-name img {
  margin: 0 auto;
}

.city-name p {
  margin: 5px auto 0 auto;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.829);
}
div h2 {
  font-size: 4em;
  line-height: 1.2em;
  text-align: left;
  padding: 0px;
  margin: 25px auto 20px auto;
  color: rgba(0, 0, 0, 0.829);
}

div.col-6.city-temp {
  padding-left: 20px;
}

div.col-6.city-name {
  padding-left: 40px;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
