.WeatherApp {
  margin: 15px auto 10px auto;
  background-color: #f6f9fa;
  max-width: 390px;
  height: 610px;
  border: 0.5px solid rgb(207, 207, 207);
  border-radius: 10px;
  box-shadow: 0 3px 16px 0 rgb(201, 201, 201);
  overflow: auto;
  padding-bottom: 10px;
}

/* SEARCH */

.row.search-city {
  margin: 0;
  border-radius: 10px 10px 0px 0px;
  padding: 15px 0 0 0;
}

input {
  border-radius: 4px;
  background-color: #d7d4ec;
  border: 1px solid #d7d4ec;
  padding-top: 2px;
  padding-bottom: 3px;
  margin-top: 0;
  width: auto;
  padding-left: 8px;
  width: 173px;
  height: 30px;
}

div.col-8 {
  padding-left: 10px;
  padding-right: 10px;
}

::placeholder {
  opacity: 0.7;
  color: #352fac;
  position: relative;
  left: 4px;
  font-size: 14px;
  font-weight: 500;
}

input:focus,
input:active,
input:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0;
}

i {
  color: #352fac;
  font-size: 16px;
}

.btn-search {
  border-radius: 4px;
  background-color: #f6f9fa;
  border: 1px solid #f6f9fa;
  margin-top: 0;
  padding-bottom: 2px;
  padding-top: 1px;
  transition: all 200ms ease-in-out;
}

.btn-geo {
  border-radius: 4px;
  background-color: inherit;
  border: 1px solid #f6f9fa;
  margin-top: 0;
  padding-bottom: 2px;
  padding-top: 1px;
  transition: all 200ms ease-in-out;
}

.btn-search:focus,
.btn-search:active,
.btn-search:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active {
  box-shadow: none !important;
  outline: 0;
}

.btn-geo:focus,
.btn-geo:active,
.btn-geo:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active {
  box-shadow: none !important;
  outline: 0;
}

/* TEMPERATURE SCALE */

div.col-4.cel-fah {
  padding: 0;
}
div.temp-scale-btn {
  position: relative;
  margin-right: 0;
  height: 100%;
  margin-top: 0;
  padding: 1px;
  max-width: 70px;
}

button.active {
  border-radius: 4px;
  background-color: #d7d4ec;
  border: 1px solid #d7d4ec;
  color: #352fac;
  font-weight: 500;
}

.btn-celsius {
  background-color: #f6f9fa;
  border: 1px solid #f6f9fa;
  transition: all 200ms ease-in-out;
  color: #352fac;
  text-align: right;
  position: relative;
  left: 54px;
}

.btn-fahrenheit {
  background-color: #f6f9fa;
  border: 1px solid #f6f9fa;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  color: #352fac;
  text-align: left;
  position: relative;
  left: 54px;
}

.btn-celsius:hover,
.btn-celsius:focus,
.btn-celsius:active,
.btn-celsius:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0;
  border-radius: 4px;
  background-color: #d7d4ec;
  border: 1px solid #d7d4ec;
  color: #352fac;
  font-weight: 500;
}

.btn-fahrenheit:hover,
.btn-fahrenheit:focus,
.btn-fahrenheit:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0;
  background-color: #d7d4ec;
  border: 1px solid #d7d4ec;
  border-radius: 4px;
  color: #352fac;
  font-weight: 500;
}

/*DATE & TIME*/

span.datetime {
  font-size: 0.7em;
  padding: 0 13px;
  color: #362fab;
  font-weight: 500;
  opacity: 0.9;
}

div.date {
  margin: 2px auto 20px auto;
}
